body{
    background-color: #bbc6fa;
}

.container{
    background-color: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
border-radius: 10px;
text-align: center;
}
button
{
    background-color: #bbc6fa;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 10px;
    margin-bottom: 10px;
}
img{
width: 10px;
width: 10px;
}